{
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "extensions": [".js", ".tsx"],
        "alias": {
          "library": "./source/library",
          "model": "./source/model",
          "routes": "./source/routes",
          "worker": "./source/worker"
        }
      }
    ]
  ],
  "presets": [
    "es2015"
  ]
}